---
const { limit, group, en } = Astro.props;
import { getCategoryText } from '@/utils/helpers/textPostHelpers';

// Utility imports
import { PostApi } from '@/services/index';
import { hasValue } from '@/utils/helpers/dataHelpers';
import type { CategoryType } from '@/types/index';

// Initialize API service
const postApiService = new PostApi();

let isEmptyListCategoryPost = true;
let listCategoryPost: CategoryType[] = [];

const listCategoryPostData = await postApiService.fetchListCategories();

if(hasValue(listCategoryPostData) && listCategoryPostData !== null){
    isEmptyListCategoryPost = false;
    listCategoryPost = listCategoryPostData;
}

const textPost = getCategoryText(group, en);

---
{!isEmptyListCategoryPost && (
<div class="w-full sm:max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
        {textPost.category.title || ''}
    </h5>
    <p class="text-sm font-normal text-gray-500 dark:text-gray-400">{textPost.category.description || ''}</p>
    <ul class="my-4 space-y-3">
        {listCategoryPost.map((category: CategoryType) => (
        <li>
            <a href={`${textPost.category.link}/kategori/${category.categorySlug}`} class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <div class="shrink-0 w-4 h-4 mr-3">
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z"></path>
                    </svg>
                </div>
                <span class="flex-1 whitespace-nowrap">{category.categoryName}</span>
                {/* <span class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded-sm dark:bg-gray-700 dark:text-gray-400">0</span> */}
            </a>
        </li>
        ))}
    </ul>
</div>
)}