---
import Layout from "@layouts/Layout.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import ProgramStudiSection from "@components/home/ProgramStudiSection.astro";

const breadcrumbs = [
    { label: "Home", href: "/" },
    {
        label: "Program Studi Kelas Karyawan",
        href: "/program-studi-kelas-karyawan",
    },
];

const metaTags = {
    title: "Program Studi Kelas Karyawan - Kuliah Sambil Kerja",
    description:
        "Pilihan program studi S1 dan D3/D4 untuk kelas karyawan. Upgrade diri, gaji, jabatan, dan karir untuk masa depan yang lebih cerah!",
    keywords:
        "program studi kelas karyawan, kuliah sambil kerja, S1 karyawan, D3 karyawan",
    image: "",
};


---

<Layout metaTags={metaTags}>
    <div class="min-h-screen bg-gray-50 dark:bg-gray-900">
        <!-- Breadcrumb Section -->
        <div
            class="bg-white dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700"
        >
            <div class="max-w-screen-xl mx-auto px-4 py-4">
                <Breadcrumb breadcrumbs={breadcrumbs} />
            </div>
        </div>

        <!-- Main Content -->
        <div class="max-w-screen-xl mx-auto px-4 py-12">            
            <ProgramStudiSection />
        </div>

        
    </div>
</Layout>
